<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <WpfApplication1.Properties.Settings>
            <setting name="BackGroundThemeColor" serializeAs="String">
                <value>Beyaz</value>
            </setting>
            <setting name="ButtonBackGroundColor1nd" serializeAs="String">
                <value>555</value>
            </setting>
            <setting name="ButtonBackGroundColor2nd" serializeAs="String">
                <value>#E7E5DF</value>
            </setting>
            <setting name="ButtonForeGroundColor1nd" serializeAs="String">
                <value>#77CDBC</value>
            </setting>
            <setting name="ButtonForeGroundColor2nd" serializeAs="String">
                <value>#E7BB41</value>
            </setting>
        </WpfApplication1.Properties.Settings>
    </userSettings>
</configuration>